body {
  background-color: rgba(25, 10, 60, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.phone-borders {
  background-color: black;
  width: 275px;
  height: 450px;
  border: 15px solid black;
  border-radius: 15px;
}
.camera-spot {
  background-color: black;
  height: 30px;
}
.camera {
  background-color: rgb(255, 255, 255);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: auto;
}
.input-container {
  background-color: grey;
  height: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input {
  border-radius: 5px;
  width: 180px;
  height: 28px;
  font-size: 20px;
}
label {
  color: white;
  font-size: 21px;
  margin-bottom: 5px;
}
.phone-buttons {
  background-color: black;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons {
  width: 100px;
  height: 35px;
  margin: 10px;
  background-color: #ffffff;
  background-image: linear-gradient(#ffffff, #928d86);
  border-color: #ffffff;
  border-width: 3px;
}
.result {
  background-color: rgb(255, 255, 255);
  margin: auto;
  height: 58%;
}
